.parent {
  width: 100%;
  height: 100vh;
  background-color: rgb(41, 0, 66);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.box {
  margin-top: 7%;
  width: 35%;
  height: auto;
  min-height: 30%;
  border-radius: 5px;
  background-color: rgb(219, 193, 244);
  box-shadow: 3px 4px 9px #a29e9e;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
}

.box h1 {
  text-transform: capitalize;
  color: darkblue;
}

.box form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.box input {
  width: 70%;
  padding: 5px;
  border-radius: 4px;
  outline: none;
}

.box button {
  padding: 10px 15px;
  border-radius: 4px;
  background-color: rgb(41, 0, 66);
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.box button:hover {
  background-color: pink;
  transition: 1s;
  cursor: pointer;
}

.box .item {
  margin-top: 29px;
  box-shadow: 2px 3px 4px #2e2e2e;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.item p {
  color: black;
}

.btn {
  background-color: red;
  padding: 2px 5px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.update {
  background-color: green;
  color: white;
  margin-left: 180px;
}

.btn:hover {
  background-color: black;
  transition: 0.5s;
}

.btn.update:hover {
  color: white;
}

.all-items {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.pop-up {
  width: 400px;
  background-color: rgb(227, 183, 255);
  height: 150px;
  border-radius: 15px;
  position: absolute;
  top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pop {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pop-up h2 {
  margin-top: 0;
}

.pop input {
  width: 45%;
  padding: 7px;
  border-radius: 3px;
}

.ss {
  background-color: green;
  padding: 7px;
}

.msg {
  color: red;
  font-size: 17px;
}
